img{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    z-index: 1;
}

body{
    background-color: greenyellow;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.circle{
    height: 400px;
    width: 400px;
    background-color: #000;
    border-radius: 50%;
    position: relative;
}

button{
    margin-top: 2rem;
    padding: 20px 50px 20px 50px;
    font-size: 2rem;
    border: none;
    border-radius: 5px;
}